* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
}
.header{
    width: 100%;
    height: 15%;
    background-color: #06167e;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.escudo-logo{
    text-align: left;
    width: 5em;
    height: 5em;
    margin-left: 30px;
    margin-top: 7px;
}
.info-nav{
    display: flex;
    text-align: center;
    font-style: normal;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.info-nav a{
    text-decoration: none;
    color: inherit;
    color: whitesmoke;
}
.register-nav{
    list-style: none;
    display: flex;
    align-items: center;
}
.btn{
    color: #0099CC;
    background: transparent;
    border: 2px solid #918d8d;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #000000;
    color: #061680; 
}

.main{
    background-color: #000000;
}
.section{
    height: 123%;
    width: 98%;
    text-align: center;
    margin-left: 14px;
    background-image: url("./imagenes/emojis5.png");
    background-size: 170px;    
}
.bienvenidos{
    align-items: center;
    padding: 20px;
    text-align: center;
}
.bienvenidos h3{
    display: inline-block;
    text-align: center;
    border: solid rgb(105, 7, 32);
    background-color: rgba(175, 7, 7, 0.966);
    font-size: 30px;
    border-radius: 10px;
}
.caja-introduccion{
    text-align: center;
    align-items: center;
    background-color: rgba(240, 255, 244, 0.945);
    height: 70%;
    width: 80%;
    display: inline-block;
    margin-top: 50px;
    border-radius: 30px;
}
.caja-introduccion-p1{
    margin-top: 70px;
    font-size: 40px;
    margin-left: 90px;
    text-align: start;
    
}
.caja-introduccion-p2{
    margin-left: 130px;
    margin-top: 40px;
    max-width: 70%;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
.caja-introduccion-p2 img{
    margin-left: 5px;
    align-items: center;
    height: 35px;
    width: 20px;
}
.seccion-galeria{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 54%, rgba(0,18,255,1) 100%);
    width: 100%;
    height: 170%;
    display: inline-block;
}
.intro-galeria{
    text-align: center;
    margin-top: 60px;
    margin-left: 500px;
    font-size: 30px;
    font-style: oblique;
    background-color: black;
    color: white;
    padding: 20px;
    width: 20%;
    border-style: ridge;
    border-radius: 15px;
}
.slider{
    list-style: none;
    padding-top: 120px;
    padding-left: 150px;
    position: relative;
    height: 500px;
    width: 800px;
}
.slider li{
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}
.slider li img{
    width: 130%;
    height: 570px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
}   

.slider li:first-child{
    opacity: 1;
}
.slider li:target{
    opacity: 1;
}
.btn-slider{
    list-style: none;
    text-align: center;
    margin:250px;
}
.btn-slider li{
    display: inline-block;
    /* text-align: center; */
}
.btn-slider li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding-top: 13px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
}
.div-plantilla{
    padding-top: 60px;
    width: 100%;
    height: 30%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 32%, rgba(0,18,255,1) 82%);
}
.titulo-plantilla{
    text-align: center;
    margin-left: 530px;
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 8px;
    width: 20%;
    height: 60px;
    color: #ffffff;
    -webkit-box-shadow: 1px 1px 20px -1px #B7B414; 
    box-shadow: 1px 1px 20px -1px #ffffffa2;
    border-radius: 10px;
    border-style: solid;
    font-style: oblique;
    font-size: 30px;
}
.plantilla{
    margin-top: 30px;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 32%, rgba(0,18,255,1) 82%);
    display: flex;
}
.card{
    margin-left: 100px;
    width: 500px;
    height: 360px;
    padding: 2rem 1rem;
    background: rgb(5, 13, 46);
    position: relative;
    display: flex;
    border-radius: 18px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(176, 6, 0, 0.5),rgb(46, 18, 13));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 18px;
}
.card:hover:before{
    opacity: 1;
}
.card-arquero{
    margin-left: 100px;
    width: 250px;
    height: 360px;
    padding: 2rem 1rem;
    background: rgb(5, 13, 46);
    position: relative;
    display: flex;
    /* align-items: flex-end; */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 18px;
}
.card-arquero:hover{
    transform: translateY(20px);
}
.card-arquero:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(176, 6, 0, 0.5),rgb(46, 18, 13));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 18px;
}
.card-arquero:hover:before{
    opacity: 1;
}
.info{
    font-size: 15px;
    z-index: 3;
    color: #fff;
    transition: 0.5s all;
    position: absolute;
    opacity: 0;
    z-index: 2;
}
.info:hover{
    transform: translateY(30px);
    opacity: 1;
}
.delanteros{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 100px;
}

.mediocampistas{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 150px;
}
.defensores{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 150px;
}
.arqueros{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 150px;
}
.dch2{
    color: #fff;
    margin: 30px;
    text-align: center;
}
.mdh2{
    color: #fff;
    margin: 30px;
    text-align: center;
}
.dfh2{
    color: #fff;
    margin: 30px;
    text-align: center;
}
.poh2{
    color: #fff;
    margin: 30px;
    text-align: center;
}
footer{
    background: rgb(129,0,0);
    background: radial-gradient(circle, rgba(129,0,0,1) 0%, rgba(0,0,0,1) 100%);
    height: 40%;
    width: 100%;
    text-align: center;
    align-items: center;
    position: static; 
    color: #fff;  
}
footer p{
    padding-top: 60px;
    font-size: 20px;
}
.div-footer{
    text-decoration: none;
}
.div-footer img{   
    justify-content: space-between;
    margin-top: 50px;
    height: 60px;
    width: 60px;
    margin-left: 40px;
} 